<div class="splitcontent">
  <div class="splitcontentleft">
    <% if @issue.safe_attribute? 'start_date' %>
        <p id="start_date_area">
          <%= f.date_field(:start_date, :size => 10, :required => @issue.required_attribute?('start_date')) %>
          <%= calendar_for('issue_start_date') %>
        </p>
    <% end %>

    <% if @issue.safe_attribute? 'due_date' %>
        <p id="due_date_area">
          <%= f.date_field(:due_date, :size => 10, :required => @issue.required_attribute?('due_date')) %>
          <%= calendar_for('issue_due_date') %>
        </p>
    <% end %>

  </div>
  <div class="splitcontentright">
    <% if @issue.safe_attribute? 'estimated_hours' %>
        <p><%= f.hours_field :estimated_hours, :size => 3, :required => @issue.required_attribute?('estimated_hours') %> <%= l(:field_hours) %></p>
    <% end %>


  </div>
</div>



