

<div class="splitcontent">
  <div class="splitcontentleft">
    <% if @issue.safe_attribute?('category_id') && @issue.project.issue_categories.any? %>
        <p><%= f.select :category_id, (@issue.project.issue_categories.collect {|c| [c.name, c.id]}), :include_blank => true, :required => @issue.required_attribute?('category_id') %>
          <%= link_to(l(:label_issue_category_new),
                      new_project_issue_category_path(@issue.project),
                      :remote => true,
                      :method => 'get',
                      :title => l(:label_issue_category_new),
                      :tabindex => 200,
                      :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_categories, @issue.project) %></p>
    <% end %>

    <% if @issue.safe_attribute?('fixed_version_id') && @issue.assignable_versions.any? %>
        <p><%= f.select :fixed_version_id, version_options_for_select(@issue.assignable_versions, @issue.fixed_version), :include_blank => true, :required => @issue.required_attribute?('fixed_version_id') %>
          <%= link_to(l(:label_version_new),
                      new_project_version_path(@issue.project),
                      :remote => true,
                      :method => 'get',
                      :title => l(:label_version_new),
                      :tabindex => 200,
                      :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_versions, @issue.project) %>
        </p>
    <% end %>

  </div>
  <div class="splitcontentright">

    <% if @issue.safe_attribute? 'parent_issue_id' %>
        <p id="parent_issue"><%= f.text_field :parent_issue_id, :size => 10, :required => @issue.required_attribute?('parent_issue_id') %></p>
        <%= javascript_tag "observeAutocompleteField('issue_parent_issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @issue.project, :scope => Setting.cross_project_subtasks, :status => @issue.closed? ? 'c' : 'o', :issue_id => @issue.id)}')" %>
    <% end %>
    <% if @issue.safe_attribute?('done_ratio') && Issue.use_field_for_done_ratio? %>
        <p><%= f.select :done_ratio, ((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }), :required => @issue.required_attribute?('done_ratio') %></p>
    <% end %>
  </div>
</div>
